@charset "ISO-8859-1";
@media screen and (max-width: 600px) {
    table tbody td .form-control{
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	th{text-align:left;}
	td{text-align:left;}
	table thead { display: none; }
	table tbody td { display: block; padding: .6rem; }
	
	
}