
Quattrocchi/.settings/org.eclipse.wst.common.project.facet.core.xml

Quattrocchi/.classpath
Quattrocchi/.classpath
Quattrocchi/.settings/org.eclipse.wst.common.project.facet.core.xml
Quattrocchi/.settings/org.eclipse.wst.common.project.facet.core.xml
Quattrocchi/.classpath
Quattrocchi/.settings/org.eclipse.wst.common.project.facet.core.xml
Quattrocchi/.classpath
Quattrocchi/.classpath

Quattrocchi/.classpath

Quattrocchi/.settings/org.eclipse.core.resources.prefs
