<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<link href="../css/bootstrap.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
	<link href="../css/carttemplate.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>
<div class="container">
		<h1>Carrello</h1>
	</div>
	<div class="container">
	<table id="cartElements"class="table table-hover table-condensed table-striped">
		<thead>
			<th style="width:40%" id="prod">Prodotto</th>
			<th style="width:20%" id="qta" >Quantità</th>
			<th style="width:20%" >Prezzo</th>
			<th style="width:20%"></th>
		</thead>
		<tbody>
			<tr>
				<td class="prodotto">
					<h3 class="nomargin nomeArt">Rayban sport</h3><p class="marcaArt">Rayban</p></td>
				<td><input  data-th="Numero Prodotti" name="quantitaPezzi" class="form-control"  type="number" min="1"value="'+prod.numero+'"></td>
				<td class="prezzoArt ">$40.23</td>
				<td><input class= "btn btn-outline-secondary " type="submit" name="inserireNOME" value="rimuovi" /></td>
			</tr>
			<tr>
				<td class="prodotto">
					<h3 class="nomargin nomeArt">Oakley classics</h3><p class="marcaArt">Oakley</p></td>
				<td><input  data-th="Numero Prodotti" name="quantitaPezzi" class="form-control"  type="number" min="1"value="'+prod.numero+'"></td>
				<td class="prezzoArt ">$102.34</td>
				<td ><input class= "btn btn-outline-secondary " type="submit" name="inserireNOME" value="rimuovi" /></td>
			</tr>
			<tr>
				<td class="prodotto">
					<h3 class="nomargin nomeArt">Soldani xy</h3><p class="marcaArt">Soldani</p></td>
				<td><input  data-th="Numero Prodotti" name="quantitaPezzi" class="form-control"  type="number" min="1"value="'+prod.numero+'"></td>
				<td class="prezzoArt ">$21.00</td>
				<td ><input class= "btn btn-outline-secondary " type="submit" name="inserireNOME" value="rimuovi"/></td>
			</tr>
		</tbody>
	</table>
	</div>

</body>
</html>