<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="../css/bootstrap.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
<link href="../css/gestoreordini.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>
	<div class="container">
		<h1>Gestione ordini</h1>
	</div>
	<div class="container">
		<h3>Da spedire</h3>
		<table id="inserireID"
			class="table table-hover table-condensed table-striped">
			<tbody>
				<tr>
					<td class="prodotto">ordine 12345</td>
					<td class="gestisci"><input class="btn btn-outline-secondary "
						type="submit" name="inserireNAME" value="Gestisci" /></td>
				</tr>
				<tr>
					<td class="prodotto">ordine 23456</td>
					<td class="gestisci"><input class="btn btn-outline-secondary "
						type="submit" name="inserireNAME" value="Gestisci" /></td>
				</tr>
				<tr>
					<td class="prodotto">ordine 34567</td>
					<td class="gestisci"><input class="btn btn-outline-secondary "
						type="submit" name="inserireNAME" value="Gestisci" /></td>
				</tr>
			</tbody>
		</table>
		<hr>
		<h3>In corso</h3>
		<table id="inserireID"
			class="table table-hover table-condensed table-striped">
			<tbody>
				<tr>
					<td class="prodotto">ordine 45678</td>
					<td class="gestisci"><input class="btn btn-outline-secondary "
						type="submit" name="inserireNAME" value="Gestisci" /></td>
				</tr>
				<tr>
					<td class="prodotto">ordine 56789</td>
					<td class="gestisci"><input class="btn btn-outline-secondary "
						type="submit" name="inserireNAME" value="Gestisci" /></td>
				</tr>
			</tbody>
		</table>
		<h3>Terminati</h3>
		<table id="inserireID"
			class="table table-hover table-condensed table-striped">
			<tbody>
				<tr>
					<td class="prodotto">ordine 67890</td>
					<td class="gestisci"><input class="btn btn-outline-secondary "
						type="submit" name="inserireNAME" value="Gestisci" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>