<!DOCTYPE html>
<head>

    <title>
        Quattrocchi.it - index
    </title>

    <!-- styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">

</head>

<body>

            <div class="container">
                <div class="col-md-12">
                        <div class="item">
                        <h1 style="text-align:center">Benvenuto su</h1>
                         <img style="margin: auto" src="img/main-slider1.jpg" alt="img1" class="img-responsive">
                    <!-- /#main-slider -->
                </div>
            </div>

            <!-- *** ADVANTAGES HOMEPAGE ***
 _________________________________________________________ -->
            <div id="advantages">

                <div class="container">
                    <div class="same-height-row">
                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-heart"></i>
                                </div>

                                <h3><a href="#">Rayban</a></h3>
                                <p>Guarda le ultime uscite</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-tags"></i>
                                </div>

                                <h3><a href="#">Oakley</a></h3>
                                <p>California dreamin'</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-thumbs-up"></i>
                                </div>

                                <h3><a href="#">GreenVision</a></h3>
                                <p>La marca eco-friendly</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->

            </div>
            <!-- /#advantages -->

            <!-- *** ADVANTAGES END *** -->


</body>

</html>