<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="../css/bootstrap.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
	<link href="../css/VisualizzaOrdineView.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>
<div class="container">
		<h1>Ordine #12345</h1>
	</div>
<div class="container">
	<table class="table table-hover table-condensed table-striped">
		<thead>
			<th style="width:40%">Prodotto</th>
			<th style="width:40%">Quantità</th>
			<th style="width:20%" >Prezzo</th>
		</thead>
		<tbody>
			<tr>
				<td class="prodotto">
					<h3 class="nomargin nomeArt">Rayban sport</h3><p class="marcaArt">Rayban</p></td>
				<td class="qta">2</td>
				<td class="prezzoArt ">$40.23</td>
			</tr>
			<tr>
				<td class="prodotto">
					<h3 class="nomargin nomeArt">Oakley classics</h3><p class="marcaArt">Oakley</p></td>
				<td class="qta">3</td>
				<td class="prezzoArt ">$102.34</td>
			</tr>
			<tr>
				<td class="prodotto">
					<h3 class="nomargin nomeArt">Soldani xy</h3><p class="marcaArt">Soldani</p></td>
				<td class="qta">1</td>
				<td class="prezzoArt ">$21.00</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="container">
		<h3 style="float:right" >Totale: $201.21</h3>
	</div>
	<div class="container">
		<h2>Metodo di pagamento</h2>
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>Numero carta</th>
					<th>Intestatario</th>
					<th>Circuito</th>
					<th>Scadenza</th>
					<th>Cvv</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>3456xxxxxxxxxxxx</td>
					<td >Luigi Piccolo</td>
					<td >Mastercard</td>
					<td >2/2020</td>
					<td>xxx</td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<h2>Spedito a</h2>
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>Indirizzo</th>
					<th>Numero civico</th>
					<th>CAP</th>
					<th>Provincia</th>
					<th>Stato</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Via le mani dagli occhi</td>
					<td>4</td>
					<td >81030</td>
					<td>NA</td>
					<td>Italia</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>